* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}
/* Home Page JumboTron */
#headerContainer{
    background-image: url(http://interfacelift.com/wallpaper/previews/04101_minimalmountains_672x420.jpg); 
    /* background-size: contain;
    height: 800px;
    max-width: 100%;
    overflow: hidden; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homePagelogo{
    font-family: 'Aguafina Script', cursive;
    /* text-align:center; */
    font-size: 4em;
    line-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home Page Nav Bar */
.homeNavBar ul {
    list-style: none;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

.homeNavBar li {
    font-family: "helvetica_neuethinext", Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
}

.homeNavBar a {
    text-decoration: none;
    color: #fff;
    /* display: block;  */
    margin-right: 3em;
    margin-left: 3em; 
}

/* HomePage Photo */
#homeBandPhoto {
    margin-top: 65px;
    margin-left: 30px;
    max-width: 40%; 
}
img.slides{
    max-width: 99%;
}

/* AJW Footer */

.ajw-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.ajw-footer-item {
    padding: 2em 1.5em 1em 1.5em;
}

a {
    color: inherit;
}

/* HomePage Bio */
#bioContainer {
    max-height: 300px;
    max-width: 40%;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: 30px;
    border: 6px, solid, red;
    font-family: "helvetica_neuethinext", Helvetica, Arial, sans-serif;
}
#homeBio {
    font-family: "helvetica_neuethinext", Helvetica, Arial, sans-serif;
    max-height: 300px;
    overflow: scroll;

}