* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "helvetica_neuethinext", Helvetica, Arial, sans-serif;
}

.main-container {
    background-image: url(/img/background-img.jpeg);
    background-size: contain;
}
/************* Band-Member Styling *****************/

#member {
    margin: auto;
    width: 78%;
    border: 3px solid #73ad210d;
    padding: 10px;
}

#memberName {
padding-top: 46px;
padding-bottom: 5px;
}

#position {
    padding-bottom: 8px;
}

#memberList {
    list-style-type: none;
    float: right;
    padding-right: 107px;
    padding-top: 20px;

}

#paraMember {
    padding-top: 10px;
}


/************************ Nav Bar *****************************/

/* Other Pages Nav Bar */

.cw-ul {
    list-style-type: none; 
    text-align: center; 
  }
  
  .cw-li {
    display: inline; 
    font-size: 30px;
    font-family: helvetica; 
    padding-right: 65px; 
  }
  
  .cw-anavbar {
      text-decoration: none;
      color: white; 
  }

  .cw-anavbar:hover {
    color: silver;
  }

/* Home Page JumboTron */
#headerContainer{
    background-image: url(http://interfacelift.com/wallpaper/previews/04101_minimalmountains_672x420.jpg); 
    /* background-size: contain;
    height: 800px;
    max-width: 100%;
    overflow: hidden; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homePagelogo{
    font-family: 'Aguafina Script', cursive;
    /* text-align:center; */
    font-size: 4em;
    line-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home Page Nav Bar */
.homeNavBar ul {
    list-style: none;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

.homeNavBar li {
    font-family: "helvetica_neuethinext", Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
}

.homeNavBar a {
    text-decoration: none;
    color: #fff;
    /* display: block;  */
    margin-right: 3em;
    margin-left: 3em; 
}
/* Columns for content------------------------------------------------------*/
#mainHomeContainer {
    display: flex;
    justify-content: center;
    align-content: stretch;
}
/* Left Column------------------------------------------------------------- */

#leftHomeContainer {
    flex: 3;
    margin-top: 80px;
    /* margin-left: 30px; */
    margin-bottom: 150px;
    max-width: 50%;
}


/* HomePage Photo */
#homeBandPhoto {
    width: 85%;
}
img.slides{
    width: 99%;
    height: 315px;
}

/* AJW Footer */

.ajw-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.ajw-header {
    animation-duration: 2s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }

.ajw-footer-item {
    padding: 2em 1.5em 1em 1.5em;
    transition: all 1s ease;
}

.ajw-footer-item:hover {
    transform: scale(1.5);
}

a {
    color: inherit;
}

/* AJW Footer END */

/* AJW Media Albums Start */

.ajw-albums-container {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    animation-duration: 2s;
    animation-name: slideinfromleft;

}

.ajw-album:nth-child(2){
    color: black;
}


@keyframes slideinfromleft {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.ajw-album img {
    width: 400px;
    height: 400px;
}

.ajw-album h3,
.ajw-album h4 {
    padding-top: 1em;
}

/* AJW Media Albums End */

/* AJW Media Videos Start */

.ajw-videos {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
}

.ajw-video {
    border-radius: 5px;
}

/* HomePage Bio */
#bioContainer {
    max-height: 300px;
    max-width: 85%;
    margin-top: 80px;
}

#bioContainer h3{
    text-decoration: underline;
}
#homeBio {
    max-height: 200px;
    overflow: scroll;
}
/* Right Column-------------------------------------------------- */
#homeRightColumn {
    flex: 3;
    margin-top: 80px;
    margin-right: 30px;
    margin-bottom: 150px;
}

/* Home Page Video */
#homeVideocontainer{
    margin-top: 80px;
}
/* Home Page Tour Section */
#homeTourContainer{
    margin-top: 80px;
    height: 200px;
    margin-right: 30px;
    border: 1px solid white;
    overflow: scroll;
}

#homeTourContainer h3{
    display: inline-block;
}

.lt-jsTourContainer{
    border: 1px solid white;    
}
.clickHere{
    display: inline-block;
    /* position: relative; */
    margin-left: 160px;
}

.lt-venue{
    margin-left: 30px;
    display: inline;
    text-decoration: underline;
}

.lt-tour {
    margin-left: 10px;
    margin-right: 10px;
}
.lt-tourRowTwo{
    margin-left: 10px;
}
.homeTourButton{
    float: right;
    
}

/* Tour Page Schedule */

#tour-schedule {
  height: 400px;
  overflow: scroll;
  padding-left: 30px; 
  padding-top: 55px; 
  margin-bottom: 100px; 
}

.cw-tourSchedule {
  padding-left: 30px; 
  padding-top: 55px;

}

.cw-button {
  padding: 10px; 
  background-color: white; 
  color: black; 
  font-weight: bold
}

a .cw-button:hover {
    background-color: silver;
  }